<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<th:block layout:fragment="page_body">
  <div class="container">
    <div class="row">
      <div class="col-xl-6">
        <img th:src="@{|/${item.imageUrl}|}" width="100%">
      </div>
      <div class="col-xl-6">
        <h1 th:text="${item.name}">상품명</h1>
        <h3 th:text="${#numbers.formatCurrency(item.price)}">￦10,000</h3>
        <a class="btn btn-primary btn-lg btn-block" th:href="@{|/orders/orderForm?itemId=${item.itemId}|}">주문하기</a>
      </div>
    </div>
  </div>
</th:block>
<th:block layout:fragment="page_js">
</th:block>
</html>