<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="body">
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:href="@{/}">Cat Store</a>
  </nav>
  <th:block layout:fragment="page_body"></th:block>
  <th:block th:include="~{fragments/footer}"></th:block>
</div>

<script th:src="@{/webjars/jquery/3.3.0/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.1.1/js/bootstrap.min.js}"></script>

<th:block layout:fragment="page_js"></th:block>
</body>
</html>